/* Example stylesheet */
@media screen and (prefers-color-scheme: light), screen and (prefers-color-scheme: no-preference) {
  /* Light theme */
  body{
    color: #000;
    background-color: #fff;
  }
}

@media screen and (prefers-color-scheme: dark) {
  /* Dark theme */
  body {
    color: #fff;
    background-color: #000;
  }
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
  display: flex;
}

.float-child {
  width: 20%;
  float: left;
  padding: 20px;
  border: 2px solid red;
  margin-right: 20px;
}
.float-second-child {
  width: 80%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}
